<!DOCTYPE html>
<html>
    <head>
        <title><%=Titulo%></title>
        <noscript>Se necesita tener activado JavaScript para poder visualizar correctamente esta web</noscript>
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
        <%- include('Navbar') %>
        <%- content %>
        <%- include('Footer') %>
    </body>
</html>