<a href="/" class="enlaceNavbar">
<div class="cabecera">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="images/logo.png" alt="Casi Gobierno de España" height="70px" width="160px">
            </div>
            <div class="col-8 center">
                <h3 class="text-white">Servicio Identidad Soberana</h3>
            </div>
        </div>
    </div>
</div>
</a>